In [1]:
import yfinance as yf
from pandas_datareader.data import DataReader

In [2]:
data = yf.download('AAPL', '2017-01-01', '2022-01-01')
data.head()

/tmp/ipykernel_1351639/900936649.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download('AAPL', '2017-01-01', '2022-01-01')
[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2017-01-03  26.827248  26.868822  26.506198  26.746408  115127600
2017-01-04  26.797213  26.910389  26.734851  26.757948   84472400
2017-01-05  26.933495  26.991237  26.748717  26.774124   88774400
2017-01-06  27.233759  27.291502  26.901161  26.972761  127007600
2017-01-09  27.483200  27.584828  27.240682  27.242990  134247600

In [3]:
import requests
import json
import pandas as pd

req = requests.get("

SyntaxError: EOL while scanning string literal (1383391279.py, line 5)